 .u-section-1 {
  background-image: url("images/9fbf6175-32cf-47e9-9a4a-257b44e8e428.JPG");
  background-position: 50% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 784px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1049px;
  margin: 56px auto 56px 18px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 683px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-1 {
  margin: 125px 60px 0 0;
}

.u-section-1 .u-form-1 {
  margin-top: 29px;
  margin-bottom: 0;
  height: 361px;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-image: none;
}

.u-section-1 .u-social-icons-1 {
  height: 59px;
  min-height: 16px;
  width: 196px;
  min-width: 68px;
  margin: 16px auto 0 16px;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 59px;
}

.u-section-1 .u-icon-2 {
  height: 59px;
}

.u-section-1 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 683px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin: 86px 0 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 772px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 350px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 34px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 711px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 197px;
    margin-left: 60px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 711px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1810px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1810px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 781px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 181px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1125px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 572px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 475px;
  }
}