 .u-section-1 {
  background-image: none;
  min-height: 912px;
}

.u-section-1 .u-image-1 {
  object-position: 100% 0%;
  height: 752px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  width: 1274px;
  margin: -259px calc(((100% - 1140px) / 2)  + -85px) 25px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 394px;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 173px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 0 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 26px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 173px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 26px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 173px 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 0 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 26px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 173px 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 0 0;
}

.u-section-1 .u-text-12 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 26px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    object-position: 27.89% 0%;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    min-height: 286px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 591px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    object-position: 41.74% 0%;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1717px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2076px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1009px;
  margin: 18px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 440px;
  grid-auto-columns: 33.3333%;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 30px 30px;
}

.u-section-2 .u-image-1 {
  height: 257px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 11px 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 20px 75px 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 30px 30px;
}

.u-section-2 .u-image-2 {
  height: 257px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 11px 0 0;
}

.u-section-2 .u-social-icons-2 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 20px 75px 0;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-icon-6 {
  height: 100%;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 30px 16px;
}

.u-section-2 .u-image-3 {
  height: 257px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 11px 0 0;
}

.u-section-2 .u-social-icons-3 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 20px 75px 0;
}

.u-section-2 .u-icon-7 {
  height: 100%;
}

.u-section-2 .u-icon-8 {
  height: 100%;
}

.u-section-2 .u-icon-9 {
  height: 100%;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 16px 423px 0;
}

.u-section-2 .u-list-2 {
  width: 987px;
  margin: 29px auto 0;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 1408px;
  grid-auto-columns: 33.3333%;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-2 .u-image-4 {
  height: 257px;
  margin: 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-10 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-2 .u-social-icons-4 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 77px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-2 .u-icon-10 {
  height: 100%;
}

.u-section-2 .u-icon-11 {
  height: 100%;
}

.u-section-2 .u-icon-12 {
  height: 100%;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-2 .u-image-5 {
  height: 257px;
  margin: 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-12 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-2 .u-social-icons-5 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 77px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-2 .u-icon-13 {
  height: 100%;
}

.u-section-2 .u-icon-14 {
  height: 100%;
}

.u-section-2 .u-icon-15 {
  height: 100%;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-2 .u-image-6 {
  height: 257px;
  margin: 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-14 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-2 .u-social-icons-6 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 77px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-2 .u-icon-16 {
  height: 100%;
}

.u-section-2 .u-icon-17 {
  height: 100%;
}

.u-section-2 .u-icon-18 {
  height: 100%;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-2 .u-image-7 {
  height: 257px;
  margin: 0;
}

.u-section-2 .u-text-15 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-16 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-2 .u-social-icons-7 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 77px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-2 .u-icon-19 {
  height: 100%;
}

.u-section-2 .u-icon-20 {
  height: 100%;
}

.u-section-2 .u-icon-21 {
  height: 100%;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-2 .u-image-8 {
  height: 257px;
  margin: 0;
}

.u-section-2 .u-text-17 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-18 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-2 .u-social-icons-8 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 77px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-2 .u-icon-22 {
  height: 100%;
}

.u-section-2 .u-icon-23 {
  height: 100%;
}

.u-section-2 .u-icon-24 {
  height: 100%;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 30px;
}

.u-section-2 .u-image-9 {
  height: 257px;
  margin: 0;
}

.u-section-2 .u-text-19 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-20 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-2 .u-social-icons-9 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 77px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-2 .u-icon-25 {
  height: 100%;
}

.u-section-2 .u-icon-26 {
  height: 100%;
}

.u-section-2 .u-icon-27 {
  height: 100%;
}

.u-section-2 .u-container-layout-10 {
  padding: 0 30px;
}

.u-section-2 .u-image-10 {
  height: 257px;
  margin: 0;
}

.u-section-2 .u-text-21 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-22 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-2 .u-social-icons-10 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 77px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-2 .u-icon-28 {
  height: 100%;
}

.u-section-2 .u-icon-29 {
  height: 100%;
}

.u-section-2 .u-icon-30 {
  height: 100%;
}

.u-section-2 .u-container-layout-11 {
  padding: 0 30px;
}

.u-section-2 .u-image-11 {
  height: 257px;
  margin: 0;
}

.u-section-2 .u-text-23 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-24 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-2 .u-social-icons-11 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 77px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-2 .u-icon-31 {
  height: 100%;
}

.u-section-2 .u-icon-32 {
  height: 100%;
}

.u-section-2 .u-icon-33 {
  height: 100%;
}

.u-section-2 .u-container-layout-12 {
  padding: 0 30px;
}

.u-section-2 .u-image-12 {
  height: 257px;
  margin: 0;
}

.u-section-2 .u-text-25 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-26 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-2 .u-social-icons-12 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 77px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-2 .u-icon-34 {
  height: 100%;
}

.u-section-2 .u-icon-35 {
  height: 100%;
}

.u-section-2 .u-icon-36 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 410px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-2 .u-image-1 {
    height: 200px;
  }

  .u-section-2 .u-social-icons-1 {
    width: 77px;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
  }

  .u-section-2 .u-social-icons-2 {
    width: 77px;
  }

  .u-section-2 .u-image-3 {
    height: 200px;
  }

  .u-section-2 .u-social-icons-3 {
    width: 77px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 349px;
    margin-left: 349px;
  }

  .u-section-2 .u-list-2 {
    width: 940px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    grid-auto-columns: 33.333333333333336%;
    min-height: 1342px;
  }

  .u-section-2 .u-image-4 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-7 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-8 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-9 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-10 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-11 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-12 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 942px;
    grid-auto-columns: 50%;
  }

  .u-section-2 .u-image-1 {
    height: 343px;
  }

  .u-section-2 .u-image-2 {
    height: 343px;
  }

  .u-section-2 .u-image-3 {
    height: 343px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 267px;
    margin-left: 267px;
  }

  .u-section-2 .u-list-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
    min-height: 2570px;
  }

  .u-section-2 .u-image-4 {
    height: 401px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 401px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    height: 401px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-7 {
    height: 401px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-8 {
    height: 401px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-9 {
    height: 401px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-10 {
    height: 401px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-11 {
    height: 401px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-12 {
    height: 401px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 595px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 595px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 595px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
    margin-top: 30px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 200px;
    margin-left: 200px;
  }

  .u-section-2 .u-list-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 695px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    height: 695px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    height: 695px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    height: 695px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-16 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-8 {
    height: 695px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-18 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-9 {
    height: 695px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-20 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-10 {
    height: 695px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-22 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-11 {
    height: 695px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-24 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-12 {
    height: 695px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-26 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 366px;
  }

  .u-section-2 .u-image-2 {
    height: 366px;
  }

  .u-section-2 .u-image-3 {
    height: 366px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 126px;
    margin-left: 126px;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
  }

  .u-section-2 .u-image-4 {
    height: 428px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 428px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    height: 428px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-7 {
    height: 428px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-8 {
    height: 428px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-9 {
    height: 428px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-10 {
    height: 428px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-11 {
    height: 428px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-12 {
    height: 428px;
    margin-right: initial;
    margin-left: initial;
  }
}