 .u-section-1 {
  background-image: none;
  min-height: 1117px;
}

.u-section-1 .u-image-1 {
  object-position: 100% 37.11%;
  height: 867px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.85);
}

.u-section-1 .u-list-1 {
  margin-top: -204px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 435px;
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 27px 30px 7px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 9px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 11px 0 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 27px 30px 7px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 9px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 11px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-7 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 27px 30px 7px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 9px 0 0;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 11px 0 0;
}

.u-section-1 .u-text-11 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 465px;
  --radius: 16px;
  height: auto;
  min-height: 75px;
  margin: -550px auto 475px;
}

.u-section-1 .u-container-layout-4 {
  padding-right: 0;
  padding-left: 5px;
}

.u-section-1 .u-text-13 {
  margin: 11px 32px 0 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    inset: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 356px;
    grid-auto-columns: calc(33.333333333333336% - 13.3333px);
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: -553px;
    margin-left: calc(((100% - 940px) / 2)  + 384px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 851px;
    grid-auto-columns: calc(50% - 9.999975px);
  }

  .u-section-1 .u-text-13 {
    margin-left: calc(((100% - 720px) / 2)  + 294px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-13 {
    margin-left: calc(((100% - 540px) / 2)  + 221px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1565px;
  }

  .u-section-1 .u-image-1 {
    object-position: 60.83% 37.11%;
    height: 661px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -127px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1004px;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 21px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 12px;
    padding-bottom: 21px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 12px;
    padding-bottom: 21px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -1126px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-left: 0;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 0;
    margin-right: 28px;
    margin-left: 19px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1028px;
}

.u-section-2 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 14.25px));
  min-height: 928px;
  grid-auto-columns: calc(25% - 14.25px);
  grid-gap: 19px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/1632792977682.jpeg");
  --radius: 40px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 273px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 500;
  font-size: 1.125rem;
  text-shadow: -2px 2px 40px rgba(128,128,128,1);
  margin: 12px -12px 0 12px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/Screenshot2024-11-01at12.07.25AM.png");
  --radius: 40px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 273px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 500;
  font-size: 1.125rem;
  text-shadow: -2px 2px 40px rgba(128,128,128,1);
  margin: 12px -12px 0 12px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/Image_USS.jpg");
  --radius: 40px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 273px 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 500;
  font-size: 1.125rem;
  text-shadow: -2px 2px 40px rgba(128,128,128,1);
  margin: 12px -12px 0 12px;
}

.u-section-2 .u-image-4 {
  background-image: url("images/Screenshot2024-11-01at12.08.25AM.png");
  --radius: 40px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 273px 0 0;
}

.u-section-2 .u-text-8 {
  font-weight: 500;
  font-size: 1.125rem;
  text-shadow: -2px 2px 40px rgba(128,128,128,1);
  margin: 12px -12px 0 12px;
}

.u-section-2 .u-image-5 {
  background-image: url("images/Screenshot2024-11-01at12.08.53AM.png");
  --radius: 40px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 273px 0 0;
}

.u-section-2 .u-text-10 {
  font-weight: 500;
  font-size: 1.125rem;
  text-shadow: -2px 2px 40px rgba(128,128,128,1);
  margin: 12px -12px 0 12px;
}

.u-section-2 .u-image-6 {
  background-image: url("images/Screenshot2024-11-01at12.09.25AM.png");
  background-position: 50% 0%;
  --radius: 40px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-11 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 273px 0 0;
}

.u-section-2 .u-text-12 {
  font-weight: 500;
  font-size: 1.125rem;
  text-shadow: -2px 2px 40px rgba(128,128,128,1);
  margin: 12px -12px 0 12px;
}

.u-section-2 .u-image-7 {
  background-image: url("images/1709326667006.jpeg");
  --radius: 40px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-13 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 273px 0 0;
}

.u-section-2 .u-text-14 {
  font-weight: 500;
  font-size: 1.125rem;
  text-shadow: -2px 2px 40px rgba(128,128,128,1);
  margin: 12px -12px 0 12px;
}

.u-section-2 .u-image-8 {
  background-image: url("images/1727405501770.jpg");
  --radius: 40px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-text-15 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 273px 0 0;
}

.u-section-2 .u-text-16 {
  font-weight: 500;
  font-size: 1.125rem;
  text-shadow: -2px 2px 40px rgba(128,128,128,1);
  margin: 12px -12px 0 12px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 760px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.5px));
    min-height: 2410px;
    grid-auto-columns: calc(50% - 9.5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-13 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-15 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}