 .u-section-1 {
  background-image: url("images/CanadaDayWeekendUSSADMIN.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1146px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 114px 82px 0;
}

.u-section-1 .u-text-2 {
  margin: 104px 82px 60px;
}

.u-section-1 .u-btn-1 {
  font-size: 2.25rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 86px;
    margin-right: 86px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 103px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 788px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: auto;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-text-1 {
    margin-top: 71px;
    margin-right: -59px;
    margin-left: -50px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
  }
}